<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--*******************************CORREO*******************************************************-->
		<add key="Numero_Correos_Destino" value="1" />
		<add key="Correo_Destino1" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Destino2" value="soluciones1@espinosapaez.com" />
		<add key="Correo_Destino3" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Destino4" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Destino5" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Destino6" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Destino7" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Destino8" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Destino9" value="jrsacotob@pronaca.com" />
		<add key="Correo_Destino10" value="precitrolsist4@precitrol.com" />
		<add key="Correo_Envio" value="precitrol@outlook.com" />
		<add key="Correo_Pasword" value="Sistem@s2021" />
		<add key="Host_Salida" value="smtp-mail.outlook.com" />
		<add key="Host_Puerto" value="587" />
		<add key="SSL" value="true" />
		<!--*******************************FIN DEL CORREO***********************************************-->
		<!--*******************************FTP***********************************************-->
		<add key="IP_Ftp" value="192.168.9.199" />
		<add key="Usuario_Ftp" value="tester" />
		<add key="Password_Ftp" value="password" />
		<!--*******************************FIN FTP***********************************************-->
		<!-- ***********************************************CAMARAS ******************************** -->
		<!-- NOMBRES DE LAS Balanzas -->
		<add key="Balanza1" value="Scale 1" />
		<add key="Balanza2" value="Scale 2" />
		<!-- NOMBRES DE LAS CAMARAS DE LAS Camara1 A Camara2 Balanza 1 -->
		<add key="Nom_Camara1" value="QVDCAM11" />
		<add key="Nom_Camara2" value="QVDCAM12" />
		<!-- CAMARAS DE LAS Camara3 A Camara4 Balanza 2 -->
		<add key="Nom_Camara3" value="QVDCAM21" />
		<add key="Nom_Camara4" value="QVDCAM22" />
		<!-- CAMARAS DE LAS IP_Camara1 A IP_Camara2 Balanza 1 -->
		<add key="IP_Camara1" value="192.168.0.128" />
		<add key="IP_Camara2" value="192.168.9.197" />
		<!-- CAMARAS DE LAS IP_Camara3 A IP_Camara4 Balanza 2 -->
		<add key="IP_Camara3" value="192.168.0.128" />
		<add key="IP_Camara4" value="192.168.9.197" />
		<!-- ***********************************************Tiempo de Espera(minutos)******************************** -->
		<add key="T_Chofer" value="10" />
		<add key="T_Camion" value="30" />
		<!-- ***********************************************Fin del Tiempo de espera ******************************** -->
		<!-- ***********************************************Variable Para la curva ******************************** -->
		<add key="V_Max" value="120" />
		<add key="V_Min" value="40" />
		<add key="T_estable" value="3" />
		<!-- ***********************************************Variable Para la curva  ******************************** -->
		<!-- ***********************************************Conexion API  ******************************** -->
		<add key="Url_Aries" value="" />
		<add key="Usuario_Aries" value="Data Source=DESKTOP-48JP9GK\DATABRIDGE;Initial Catalog=DataBridge;Integrated Security=True" />
		<add key="Password_Aries" value="Data Source=DESKTOP-48JP9GK\DATABRIDGE;Initial Catalog=DataBridge;Integrated Security=True" />
		<add key="Centro_Distribucion" value="006004" />
		<add key="Conexion_Local" value="Data Source=PRECITROLSIST4\SQLEXPRESS;Initial Catalog=DBVehiculos;Integrated Security=False;user id=sa;password=Sistemas123" />
		<add key="Conexion_BDBiometrico" value="Data Source=PRECITROLSIST4\SQLEXPRESS;Initial Catalog=Biometrico;Integrated Security=False;user id=sa;password=Sistemas123" />
		<add key="Conexion_DB" value="Data Source=PRECITROLSIST4\SQLEXPRESS;Initial Catalog=DataBridge;Integrated Security=False;user id=sa;password=Sistemas123" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-19.4460.0.38" newVersion="19.4460.0.38" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>

</configuration>