<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Correo_Destino" value="precitrolsist4@precitrol.com" />
    <add key="Direccion_Ftp" value="ftp://192.168.9.199/Camara/" />
    <add key="IP_Ftp" value="192.168.9.199" />
    <add key="IP_Camara" value="192.168.9.196" />
    <add key="Usuario_Ftp" value="precitrol" />
    <add key="Password_Ftp" value="precitrol" />
    <add key="Conexion_Local" value="Data Source=.\SQL;Initial Catalog=DBVehiculos;Integrated Security=True" />    
    <add key="Conexion_BDBiometrico" value="Data Source=.\SQL;Initial Catalog=ZKAccess;Integrated Security=True"/>    
  </appSettings>
</configuration>